In [24]:
from pywget import wget
import pandas as pd
import numpy as np
import string
import math
import os
from scipy import stats
from scipy.stats import norm
import seaborn as sns
import statsmodels
sns.set_style("whitegrid")
sns.distributions._has_statsmodels=False
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use("ggplot")
%matplotlib inline

from subprocess import check_output

os.chdir('/Users/pawanshivhare/Desktop/fbprep/class')
print(check_output(["ls","../class"]).decode("utf8"))

test_66516Ee.csv
train_ZoGVYWq.csv

In [39]:
with open('train_ZoGVYWq.csv','r') as f:
    list_data=[]
    i=0
    while i < 10:
        if i ==0:
            columns=f.readline().split('\n')[0].split(',')
        else:
            list_data.append(f.readline().split('\n')[0].split(','))
        i=i+1
data=pd.DataFrame(list_data,columns=columns)
data

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type,premium,renewal
0,110936,0.429,12058,355060,0,0,0,99.02,13,C,Urban,3300,1
1,41492,0.01,21546,315150,0,0,0,99.89,21,A,Urban,18000,1
2,31300,0.917,17531,84140,2,3,1,98.69,7,C,Rural,3300,0
3,19415,0.049,15341,250510,0,0,0,99.57,9,A,Urban,9600,1
4,99379,0.052,31400,198680,0,0,0,99.87,12,B,Urban,9600,1
5,59951,0.54,17527,282080,2,0,0,99.18,9,B,Rural,22200,1
6,54031,1,24829,118400,0,0,0,99.05,11,B,Urban,7500,1
7,94290,1,21911,180240,1,6,4,99.33,3,A,Urban,9600,0
8,93730,0.621,9868,92520,0,0,0,99.58,4,A,Urban,7500,1

In [42]:
data=pd.read_csv('train_ZoGVYWq.csv')
data.head()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type,premium,renewal
0,110936,0.429,12058,355060,0.0,0.0,0.0,99.02,13,C,Urban,3300,1
1,41492,0.010,21546,315150,0.0,0.0,0.0,99.89,21,A,Urban,18000,1
2,31300,0.917,17531,84140,2.0,3.0,1.0,98.69,7,C,Rural,3300,0
3,19415,0.049,15341,250510,0.0,0.0,0.0,99.57,9,A,Urban,9600,1
4,99379,0.052,31400,198680,0.0,0.0,0.0,99.87,12,B,Urban,9600,1

In [ ]:
#data[['perc_premium_paid_by_cash_credit','renewal']].groupby(['renewal'], as_index=False).mean()
#data[['perc_premium_paid_by_cash_credit','renewal']].groupby(['renewal'], as_index=False).sum()
#data[['perc_premium_paid_by_cash_credit','renewal']].groupby(['renewal'], as_index=False).std()
data[['sourcing_channel','renewal']].groupby(['renewal'], as_index=False).agg(pd.Series.unique)

In [43]:
data.columns

Index(['id', 'perc_premium_paid_by_cash_credit', 'age_in_days', 'Income',
       'Count_3-6_months_late', 'Count_6-12_months_late',
       'Count_more_than_12_months_late', 'application_underwriting_score',
       'no_of_premiums_paid', 'sourcing_channel', 'residence_area_type',
       'premium', 'renewal'],
      dtype='object')